<!DOCTYPE html>
<html>
<head>
  <%- include('/Users/laurameehan/Web_Projects/inr/src/views/static/partials/head.ejs') %>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">INRecord</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Inr Results
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/inrs">See ALL test results</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/inrs/new">Enter new Inr test result</a>
              </div>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Medications
            <div class="dropdown-menu">
              <a class="dropdown-item" href="medications">See all medications</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="medications/new">Enter new medication</a>
            </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Symptoms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Appointments</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container">

    <h1 class="mt-4">Edit Inr Result</h1>

    <form action="/inrs/<%= inr.id %>/update" method="post">
      <div class="form-group">
        <label for="date">Date:</label>
        <input value="<%= inr.date %>" type="date" name="date">
      </div>
      <div class="form-group">
        <label for="result">INR result</label>
        <input value="<%= inr.result %>" type="text" class="form-control" name="result" aria-describedby="resultHelp" placeholder="Enter Result">
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea name="notes" rows="4" class="form-control" placeholder="Enter notes regarding inr results"><%= inr.notes %></textarea>
        <button type="submit" class="btn btn-primary mt-2">Update</button>
      </div>
    </form>

  </main>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
