<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('/Users/laurameehan/Web_Projects/inr/src/views/static/partials/head.ejs') %>
<body>
  <main class="container">
    <!-- Navigation -->
    <%- include('/Users/laurameehan/Web_Projects/inr/src/views/static/partials/navbar.ejs') %>

    <h1 class="my-4">Inr Results</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Result</th>
          <th scope="col">Notes</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      <% inrs.forEach((inr) => { %>
        <tr>
          <td><a href="/inrs/<%= inr.id %>"><%= inr.date %></a></td>
          <td><%= inr.result %></td>
          <td><%= inr.notes %></td>
          <td><img src="../../../assets/images/edit-731.svg" alt=""></td>
        </tr>
      <% }) %>
      </tbody>
    </table>

  </main>

  <%- include('/Users/laurameehan/Web_Projects/inr/src/views/static/partials/baseScripts.ejs') %>
</body>
</html>
