<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('/Users/laurameehan/Web_Projects/inr/src/views/static/partials/head.ejs') %>
<body>
  <main class="container">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">INRecord</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Inr Results
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/inrs">See ALL test results</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/inrs/new">Enter new Inr test result</a>
                </div>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Medications
              <div class="dropdown-menu">
                <a class="dropdown-item" href="medications">See all medications</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="medications/new">Enter new medication</a>
              </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Symptoms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Appointments</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1 class="mt-4">Inr Results</h1>
    <ul class="list-group">
      <% inrs.forEach((inr) => { %>
        <li class="list-group-item">
          <a href="/inrs/<%= inr.id %>"><%= inr.date %></a>
          <p><%= inr.result %></p>
          <p><%= inr.notes %></p>
        </li>
      <% }) %>
    </ul>

  </main>



</body>
</html>
