<!DOCTYPE html>
<html>
<head>
  <%- include('/Users/laurameehan/Web_Projects/inr/src/views/static/partials/head.ejs') %>
</head>
<body>
  <!-- Navigation -->
  <%- include('/Users/laurameehan/Web_Projects/inr/src/views/static/partials/navbar.ejs') %>

  <main class="container">

    <h1 class="my-4"><%= inr.date %></h1>
    <p><%= inr.result %></p>
    <p><%= inr.notes %></p>
    <a href="/inrs/<%= inr.id %>/edit" class="btn btn-warning">Edit</a>
    <form style="display:initial" action="/inrs/<%= inr.id %>/destroy" method="post">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>

  </main>

  <%- include('/Users/laurameehan/Web_Projects/inr/src/views/static/partials/baseScripts.ejs') %>

</body>
</html>
