<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('/Users/laurameehan/Web_Projects/inr/src/views/static/partials/head.ejs') %>
</head>
<body>
  <main class="container">
    <!-- Navigation -->
    <%- include('/Users/laurameehan/Web_Projects/inr/src/views/static/partials/navbar.ejs') %>

    <h1 class="my-4">Medications</h1>
    <ul class="list-group">
      <% medications.forEach((medication) => { %>
        <li class="list-group-item">
          <a href="/medications/<%= medication.id %>"><%= medication.date %></a>
          <p><%= medication.name %></p>
          <p><%= medication.dose %></p>
          <p><%= medication.ingredients %></p>
        </li>
      <% }) %>
    </ul>

  </main>

  <%- include('/Users/laurameehan/Web_Projects/inr/src/views/static/partials/baseScripts.ejs') %>

</body>
</html>
