<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../static/partials/head.ejs') %>
</head>
<body>
  <main class="container">
    <!-- Navigation -->
    <%- include('../static/partials/navbar.ejs') %>

    <h1 class="my-4"><span><img src="https://res.cloudinary.com/laurameehan/image/upload/v1582092289/Drug_kytmxk.svg" width="40" height="40" class="mr-2" /></span>Medications</h1>
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/medications/new">Create New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/medications">Show History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Feature to come!</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Medication</th>
              <th scope="col">Dose</th>
              <th scope="col">Ingredients</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% medications.forEach((medication) => { %>
              <tr>
                <td>
                  <a href="/medications/<%= medication.id %>"><%= medication.date %></a>
                </td>
                <td><%= medication.drug %></td>
                <td><%= medication.dose %></td>
                <td><%= medication.ingredients %></td>
                <td>
                  <a href="/medications/<%= medication.id %>/edit">
                    <img src="https://res.cloudinary.com/laurameehan/image/upload/v1581143710/edit-731_kc2cih.svg" width="20" height="20" alt="">
                  </a>
                  <form style="display:initial"
                  action="/medications/<%= medication.id %>/destroy" method="post">
                  <input type="image" src="https://res.cloudinary.com/laurameehan/image/upload/v1581143710/delete-736_y3mdie.svg" alt="delete" width="20" height="20"></form>
                </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

  </main>

  <%- include('../static/partials/baseScripts.ejs') %>

</body>
</html>
