<!DOCTYPE html>
<html>
<head>
  <%- include('/Users/laurameehan/Web_Projects/inr/src/views/static/partials/head.ejs') %>
</head>
<body>
  <%- include('/Users/laurameehan/Web_Projects/inr/src/views/static/partials/navbar.ejs') %>

  <main class="container my-4">
    <h1><%= medication.date %></h1>
    <p><%= medication.name %></p>
    <p><%= medication.dose %></p>
    <p><%= medication.notes %></p>
  </main>

  <%- include('/Users/laurameehan/Web_Projects/inr/src/views/static/partials/baseScripts.ejs') %>
</body>
</html>
