<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../static/partials/head.ejs') %>
<body>
  <main class="container">
    <!-- Navigation -->
    <%- include('../static/partials/navbar.ejs') %>

    <h1 class="my-4"><span><i class="far fa-calendar-check mr-3"></i></span>Appointment Record</h1>

    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/appointments/new">Create New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/appointments">Show History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Feature to come!</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Appointment</th>
            <th scope="col">Provider/Department</th>
            <th scope="col">Location</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        <% appointments.forEach((appointment) => { %>
          <tr>
            <td><a href="/appointments/<%= appointment.id %>"><%= appointment.when %></a></td>
            <td><%= appointment.what %></td>
            <td><%= appointment.with %></td>
            <td><%= appointment.location %></td>
            <td>
              <a href="/appointments/<%= appointment.id %>/edit">
                <img src="https://res.cloudinary.com/laurameehan/image/upload/v1581143710/edit-731_kc2cih.svg" width="20" height="20" alt="edit">
              </a>
              <form class="mt-4" style="display:initial"
              action="/appointments/<%= appointment.id %>/destroy" method="post">
              <input type="image" src="https://res.cloudinary.com/laurameehan/image/upload/v1581143710/delete-736_y3mdie.svg" alt="delete" width="20" height="20"></form>
            </td>
          </tr>
        <% }) %>
        </tbody>
      </table>
      </div>
    </div>

  </main>

  <%- include('../static/partials/baseScripts.ejs') %>
</body>
</html>
